<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Finish</key>
	<array>
		<integer>1</integer>
		<integer>720</integer>
		<integer>60</integer>
		<integer>60</integer>
		<integer>60</integer>
	</array>
	<key>Hole</key>
	<array>
		<integer>2</integer>
		<integer>40</integer>
		<integer>360</integer>
	</array>
	<key>Hole2</key>
	<array>
		<integer>2</integer>
		<integer>420</integer>
		<integer>690</integer>
	</array>
	<key>Hole3</key>
	<array>
		<integer>2</integer>
		<integer>620</integer>
		<integer>570</integer>
	</array>
	<key>Wall</key>
	<array>
		<integer>0</integer>
		<integer>90</integer>
		<integer>630</integer>
		<integer>180</integer>
		<integer>60</integer>
	</array>
	<key>Wall2</key>
	<array>
		<integer>0</integer>
		<integer>120</integer>
		<integer>810</integer>
		<integer>240</integer>
		<integer>60</integer>
	</array>
	<key>Wall3</key>
	<array>
		<integer>0</integer>
		<integer>270</integer>
		<integer>690</integer>
		<integer>60</integer>
		<integer>300</integer>
	</array>
	<key>Wall4</key>
	<array>
		<integer>0</integer>
		<integer>240</integer>
		<integer>510</integer>
		<integer>300</integer>
		<integer>60</integer>
	</array>
	<key>Wall5</key>
	<array>
		<integer>0</integer>
		<integer>300</integer>
		<integer>360</integer>
		<integer>420</integer>
		<integer>60</integer>
	</array>
	<key>Wall6</key>
	<array>
		<integer>0</integer>
		<integer>90</integer>
		<integer>300</integer>
		<integer>180</integer>
		<integer>60</integer>
	</array>
	<key>Wall7</key>
	<array>
		<integer>0</integer>
		<integer>360</integer>
		<integer>630</integer>
		<integer>60</integer>
		<integer>300</integer>
	</array>
	<key>Wall8</key>
	<array>
		<integer>0</integer>
		<integer>450</integer>
		<integer>750</integer>
		<integer>120</integer>
		<integer>60</integer>
	</array>
	<key>Wall9</key>
	<array>
		<integer>0</integer>
		<integer>615</integer>
		<integer>690</integer>
		<integer>330</integer>
		<integer>60</integer>
	</array>
	<key>Wall10</key>
	<array>
		<integer>0</integer>
		<integer>480</integer>
		<integer>450</integer>
		<integer>60</integer>
		<integer>180</integer>
	</array>
	<key>Wall11</key>
	<array>
		<integer>0</integer>
		<integer>560</integer>
		<integer>510</integer>
		<integer>220</integer>
		<integer>60</integer>
	</array>
	<key>Wall12</key>
	<array>
		<integer>0</integer>
		<integer>640</integer>
		<integer>240</integer>
		<integer>60</integer>
		<integer>480</integer>
	</array>
</dict>
</plist>
